# Extracting data from web API

in this file, we extract data from a website API using Python and some library. in this case we using [exchange rates API](https://exchangeratesapi.io/)

## Import library

In [1]:
import pandas as pd
import requests

## Extract Data Using an API

at first step we must login and get the api key for free

In [2]:
api_key = '2IEE9uXCcZZVvz3sdu2s9SPHPl4uq8St'
url = f"https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey={api_key}" #Make sure to change ******* to your API key.

In [3]:
response = requests.get(url)
response.text

'{\n    "success": true,\n    "timestamp": 1667125983,\n    "base": "EUR",\n    "date": "2022-10-30",\n    "rates": {\n        "AED": 3.660047,\n        "AFN": 87.689036,\n        "ALL": 117.985092,\n        "AMD": 394.131073,\n        "ANG": 1.797177,\n        "AOA": 480.905834,\n        "ARS": 155.450294,\n        "AUD": 1.553347,\n        "AWG": 1.793632,\n        "AZN": 1.697942,\n        "BAM": 1.960556,\n        "BBD": 2.013404,\n        "BDT": 101.024171,\n        "BGN": 1.955866,\n        "BHD": 0.375667,\n        "BIF": 2045.736779,\n        "BMD": 0.996462,\n        "BND": 1.408452,\n        "BOB": 6.890484,\n        "BRL": 5.273932,\n        "BSD": 0.997229,\n        "BTC": 4.8155145e-05,\n        "BTN": 82.55633,\n        "BWP": 13.331472,\n        "BYN": 2.525388,\n        "BYR": 19530.657994,\n        "BZD": 2.009996,\n        "CAD": 1.359703,\n        "CDF": 2032.783131,\n        "CHF": 0.992816,\n        "CLF": 0.034069,\n        "CLP": 940.066284,\n        "CNY": 7.226846,\n        "COP": 4817.904424,\n        "CRC": 619.148096,\n        "CUC": 0.996462,\n        "CUP": 26.406247,\n        "CVE": 110.956452,\n        "CZK": 24.511524,\n        "DJF": 177.091644,\n        "DKK": 7.443377,\n        "DOP": 53.809313,\n        "DZD": 139.73268,\n        "EGP": 23.066966,\n        "ERN": 14.946932,\n        "ETB": 52.688972,\n        "EUR": 1,\n        "FJD": 2.296885,\n        "FKP": 0.879403,\n        "GBP": 0.858021,\n        "GEL": 2.755258,\n        "GGP": 0.879403,\n        "GHS": 14.000682,\n        "GIP": 0.879403,\n        "GMD": 57.845016,\n        "GNF": 8669.220994,\n        "GTQ": 7.81297,\n        "GYD": 208.628168,\n        "HKD": 7.821147,\n        "HNL": 24.716088,\n        "HRK": 7.531301,\n        "HTG": 128.636974,\n        "HUF": 412.274756,\n        "IDR": 15502.26049,\n        "ILS": 3.520083,\n        "IMP": 0.879403,\n        "INR": 81.996582,\n        "IQD": 1454.834728,\n        "IRR": 42249.995195,\n        "ISK": 143.295059,\n        "JEP": 0.879403,\n        "JMD": 152.568621,\n        "JOD": 0.706531,\n        "JPY": 146.933365,\n        "KES": 120.974294,\n        "KGS": 82.953584,\n        "KHR": 4130.33593,\n        "KMF": 491.75785,\n        "KPW": 896.815791,\n        "KRW": 1416.969515,\n        "KWD": 0.308655,\n        "KYD": 0.830924,\n        "KZT": 466.810642,\n        "LAK": 16865.12211,\n        "LBP": 1516.615729,\n        "LKR": 365.922469,\n        "LRD": 153.081536,\n        "LSL": 17.876911,\n        "LTL": 2.942294,\n        "LVL": 0.60275,\n        "LYD": 4.952796,\n        "MAD": 10.8266,\n        "MDL": 19.225146,\n        "MGA": 4244.929073,\n        "MKD": 61.67455,\n        "MMK": 2093.83363,\n        "MNT": 3347.888755,\n        "MOP": 8.060603,\n        "MRO": 355.736813,\n        "MUR": 44.286095,\n        "MVR": 15.349245,\n        "MWK": 1024.363426,\n        "MXN": 19.730054,\n        "MYR": 4.705796,\n        "MZN": 63.604555,\n        "NAD": 17.876907,\n        "NGN": 436.450761,\n        "NIO": 35.847764,\n        "NOK": 10.25945,\n        "NPR": 132.072455,\n        "NZD": 1.753226,\n        "OMR": 0.383656,\n        "PAB": 0.997129,\n        "PEN": 3.976258,\n        "PGK": 3.507921,\n        "PHP": 57.899471,\n        "PKR": 220.591845,\n        "PLN": 4.717202,\n        "PYG": 7258.789938,\n        "QAR": 3.62787,\n        "RON": 4.922925,\n        "RSD": 117.323825,\n        "RUB": 61.307372,\n        "RWF": 1043.295863,\n        "SAR": 3.745216,\n        "SBD": 8.174692,\n        "SCR": 13.006853,\n        "SDG": 569.976684,\n        "SEK": 10.908873,\n        "SGD": 1.411065,\n        "SHP": 1.372531,\n        "SLL": 17114.237635,\n        "SOS": 567.488844,\n        "SRD": 29.027312,\n        "STD": 20624.754501,\n        "SVC": 8.725253,\n        "SYP": 2503.641061,\n        "SZL": 17.876899,\n        "THB": 37.760971,\n        "TJS": 10.046217,\n        "TMT": 3.487617,\n        "TND": 3.213628,\n        "TOP": 2.404501,\n        "TRY": 18.517858,\n        "TTD": 6.771594,\n        "TWD": 32.000887,\n        "TZS": 2325.424139,\n        "UAH": 36.812443,\n        "UGX": 3794.146439,\n        "USD": 0.996462,\n        "UYU": 40.874844,\n        "UZS": 11135.464776,\n        "VND": 24744.646154,\n        "VUV": 124.707129,\n        "WST": 2.834872,\n        "XAF": 657.568578,\n        "XAG": 0.05177,\n        "XAU": 0.000606,\n        "XCD": 2.692989,\n        "XDR": 0.772794,\n        "XOF": 649.198675,\n        "XPF": 119.725289,\n        "YER": 249.365014,\n        "ZAR": 18.072446,\n        "ZMK": 8969.358618,\n        "ZMW": 16.094502,\n        "ZWL": 320.860403\n    }\n}\n'

## Read json from API

In [4]:
df = pd.read_json(response.text)
df

     success           timestamp base       date        rates
AED     True 2022-10-30 10:33:03  EUR 2022-10-30     3.660047
AFN     True 2022-10-30 10:33:03  EUR 2022-10-30    87.689036
ALL     True 2022-10-30 10:33:03  EUR 2022-10-30   117.985092
AMD     True 2022-10-30 10:33:03  EUR 2022-10-30   394.131073
ANG     True 2022-10-30 10:33:03  EUR 2022-10-30     1.797177
..       ...                 ...  ...        ...          ...
YER     True 2022-10-30 10:33:03  EUR 2022-10-30   249.365014
ZAR     True 2022-10-30 10:33:03  EUR 2022-10-30    18.072446
ZMK     True 2022-10-30 10:33:03  EUR 2022-10-30  8969.358618
ZMW     True 2022-10-30 10:33:03  EUR 2022-10-30    16.094502
ZWL     True 2022-10-30 10:33:03  EUR 2022-10-30   320.860403

[167 rows x 5 columns]

drop unnescessary columns

In [5]:
df.drop(columns=['success', 'timestamp', 'base', 'date'], inplace=True)
df

           rates
AED     3.660047
AFN    87.689036
ALL   117.985092
AMD   394.131073
ANG     1.797177
..           ...
YER   249.365014
ZAR    18.072446
ZMK  8969.358618
ZMW    16.094502
ZWL   320.860403

[167 rows x 1 columns]

## Load the dataframe

Using the dataframe save it as a CSV names exchange_rates_1.csv.

In [6]:
df.to_csv('exchange_rates_1')